body {
    margin:0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    background-color:gainsboro;

   
}
div {

   background-color: blue;
    height: 70px;
    width: 100%;
    margin-: 0px;



    div {
        display: flex;
        justify-content: space-between;



    }

    a {
        display: flex;
        text-decoration-style;
        color: white;
        font-size: small;
        animation: rotate 1s linear;
    }
@keyframes rotate{
    0%{
        transform:rotate(0deg)

    }
    79%{
        transform:rotate(90deg);
    }
    
}



    .nagar {
        text-align: star;
    }

    div.nagar.ha {

        border-color: 10px solid blanchedalmond;
        border-radius: 80pxsolid;
        background-color: aquamarine;
    }
    .img1{
        width: 100%;
        margin-bottom: 40%;
        
    }
    .img2{
        
        width: 500px;
        height: 400px;
       padding-bottom: 1000px;
       margin-top: -398px;

    }
    p{
        width: 400px;
        height: 400px;
        margin-top: -1298px;
      margin-right:300px;
        font-size: large;
    }
    h1{
        margin-top: -1450px;
        margin-left:400px;
        
    }
    .img3{
        width: 500px;
        height: 400px;
       margin-top: -970px;

    }
    .img3 h2{margin-left: 100px;

    }
    .makar{

        width: 350px;
        height: 250px;
         padding-top: 150px;
        padding-right: 200pxpx;
        background-color:gainsboro;
        
        }
        pre{
            font-size: larger;
            margin-left:-199px;
        }
      .img4{
        height: 400px;
        width: 400px;
        margin-top: 70px;
      }
      .art{
        margin-top: 1000px;
        margin-left: 700px;
        position: absolute;
      }
      